body{
    background-image: url('img/back.jpg');
    background-size: cover;
}

.mainPage{
    display: grid;
    grid-template-columns: 100%;
}

.mainTitle{
    color: white;
    background-color: #05947C;
    margin-top: 8px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    font-family: monospace;
    font-size: 32px;
    text-align: center;
}


.space{
    padding-left: 12.5%;
    padding-right: 12.5%;
}
.greenButton{
    color: white;
    background-color: #28a745;
    border: 0px;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
}


.iputNewTask{
    border-radius: 15px;
    border: 0px;
    padding-left: 25px;
    font-size: 25px;
}

.paddingLeft{
    padding-left: 20%;
    padding-right: 20%;
}

.listHeaderClass{
    padding-top: 8px;
    padding-bottom: 8px;
    color: #05947C;
    text-decoration: underline;
    font-size: 28px;
}
.taskRow{
    display: flex;
    justify-content: space-between;
}

.taskRowText{
    display: flex;
    justify-content: start;
}

.taskRowActionButtonGroupClass{
    display: inline-flex;
}

.taskText{
    padding-left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
p.listHeaderClass{
    margin-bottom: 0px;
}

.taskInputButtonRow{
    display: flex;
    justify-content: space-around;
}

.statusButtonGroup{
    display: flex;
    justify-content: space-around;
}

.taskAndStatusButtonSection{
    font-size: 14px;
    font-family: monospace;
}

.footer{
    color: white;
    text-align: center;
    padding: 25px;
}


.taskAndStatusButtonSectionClass{
    display:flex;
    flex-direction: column;
}

/* 
.contactListClass{
    display: flex;
    justify-content: start;
    margin-right: 0%;
} 
.pageShuffle > button {
    border-radius: 25px;
}

.gap{
    margin-top: 20px;
}

.gap2{
    margin-right: 15px;
}

.pageShuffle{
    display: flex;
    justify-content: center;
}

.showpagenum{
    text-align: center;
    padding-top: 15px;
}

.pubg{
    display: flex;
    justify-content: center;
}

*/

/* .mainidclass{
    display: flex;
    justify-content: space-between;
    margin-right: 25%;
} */

/* .btngroupClass{
    display: flex;
    justify-content: space-between;
} */

/* .firstChildClass{
    display: flex;
    justify-content: space-between;
} */


/* .popUpClass{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
} 

.popUpClass > button{
    position: absolute;
    left: 46.5%;
}

.popupContent{
    padding: 20px;
    font-size: 22px;

    text-align: center;
    border-radius: 15px;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
} 

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
} 

.addContract2{
    color: white;
    background-color: #28a745;
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
} 
 
.titleStyle{
    color: white;
    background-color: #05947C;
    font-family: monospace;
    font-size: 22px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 0px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
} */
